@import url('https://fonts.googleapis.com/css?family=Ramaraja|Ropa+Sans&display=swap');

body{
  background: #EAF9F7;
}

h1 {
  font-family: 'Ramaraja', serif;
  text-align: center;
}

h2 {
  font-family: 'Ramaraja', serif;
}

p {
  font-family: 'Ropa Sans', sans-serif;
}

img {
  float: left;
}

.header {
  text-align: center;
}