@import url('https://fonts.googleapis.com/css?family=Ramaraja|Ropa+Sans&display=swap');

h1 {
  -webkit-font-smoothing: antialiased;
  font-family: 'Ramaraja', serif;
  text-align: center;
  font-size: 65px;
}

h2 {
  font-family: 'Ramaraja', serif;
  margin-top: 50px;
  display: block;
}

p {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}

img {
  display: inline-block;
}

.header {
  text-align: center;
  z-index: 1;
}

.header__bg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #EAF9F7;
  transform: skewY(-6deg);
  transform-origin: top left;
}
}

.header p {
  font-size: 24px;
  line-height: 32px;
}


